    {% extends 'template/base.html.twig' %}
    {% import 'template/macro/header.html.twig' as header %}


    {% block css %}
        {{  parent() }}
        <style>
            p {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }
            .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
                padding: 0.5rem;
            }
            .table th {
                font-weight: bold;
                font-size: 10px;
            }
        </style>
    {% endblock css %}

    {% block header %}
        {{ header.header('Account: %s <br>Information: %s'|format(directory_format, campaign_format),
            [
                { 'name' : 'Accounts' },
                { 'name' : directory_format, 'uri': path('admin_show_dashboard', {'directory':directory}) },
                { 'name' : campaign_format },
                { 'name' : 'Information' }
            ])
        }}
        <section class="content-header" style="margin-top: 10px;">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-config">Configuration</button>
        </section>
    {% endblock header %}

    {% block body %}
        <div class="row" id="api_secure_account_campaign" data-ajax-url="{{ absolute_url(path('api_secure_account_campaign', {'directory':directory, 'campaign':campaign } )) }}" data-interval="{{ bag_params.get('time_interval_account_campaign') }}">

            {#<div class="modal modal-right fade" id="modal-config" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Configuration</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Your content comes here</p>
                        </div>
                        <div class="modal-footer modal-footer-uniform">
                            <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-bold btn-pure btn-primary float-right">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>#}

            <div class="col-12 col-lx-12 col-sm-12 col-md-12" v-if="reload">

                <div class="row" v-if="dashboard">
                    <div class="col-12 col-lx-12 col-sm-12 col-md-12">

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-4 col-sm-12 col-xs-12" v-for="(value, key) in dashboard.account.content">
                                <div class="small-box bg-dark pull-up">
                                    <div class="inner"><i class="cc NVC-alt pull-left"></i><h3 v-text="value"></h3><p v-text="key"></p></div>
                                    <div class="icon"><i class="cc NVC-alt font-size-60"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="row" v-if="dashboard.logs">

                            <div class="col-lg-12 col-md-12">
                                <div class="box direct-chat">
                                    <div class="box-header with-border bg-info">
                                        <h3 class="box-title">Logs</h3>
                                    </div>
                                    <div class="box-body">
                                        <div id="chat-app" class="direct-chat-messages chat-app">
                                            <div class="direct-chat-msg mb-30">
                                                <pre v-text="dashboard.logs"></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row" v-if="dashboard.campaign">

                            <div class="col-md-12 col-lg-12 col-12 col-sm-12">
                                <div class="box box-solid bg-orange">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">{{ campaign_format }}</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th v-for="header in dashboard.campaign.headers" align="center" v-text="header"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="row in dashboard.campaign.data">
                                                        <td v-for="column in row" v-text="column"></td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" v-else>
                            <div class="col-12 col-lx-12 col-sm-12 col-md-12">
                                <div class="box">
                                    <div class="box-body">
                                        <h4 class="box-title box-title-bold">No Data</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-12 col-lx-12 col-sm-12 col-md-12">
                        <div class="box">
                            <div class="box-body">
                                <h4 class="box-title box-title-bold">No Data</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lx-12 col-sm-12 col-md-12" v-else>
                <div class="row">
                    <div class="col-12 col-lx-12 col-sm-12 col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title box-title-bold">Loading Data</h4>
                            </div>
                            <div class="box-body">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endblock body %}